<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>{{ title }} - Todo App-RestApi</title>
</head>
<body>
    <header>
        <h1><a href="{{url_for('index')}}">TODO App</a></h1>
        <ul>
            {% if current_user.is_anonymous %}
            <li><a href="{{url_for('signup')}}">Sign up</a></li>
            <li><a href="{{url_for('signin')}}">Sign in</a></li>
            {% else %}
            <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            {% endif %}
        </ul>
    </header>
    {% block content %} {% endblock %}
</body>
</html>